.gameScreen {
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
	width: 400px;
	height: 400px;
	margin: 50px auto;
	border: 10px solid black;
	background: white;
	position: relative;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
}
/**************************
      Message Window
**************************/

.message {
	display: none;
	z-index: 5;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}
/*
url('../imgs/misc/scroll.png')
*/
.msgScroll {
	display: none;
	background: url('../imgs/misc/scroll.png');
	background-size: 100% 100%;
	width: 90%;
	height: 90%;
	margin: 5%;
	box-shadow: inset 0px 10px 5px -5px #404040, inset 0px -10px 5px -5px #404040;
}
.msgWriting {
	width: 65%;
	height: 53%;
	padding-top: 20%;
	margin: auto;
	text-align: center;
}
.msgBand {
	width: 100%;
	height: 66%;
	margin-top: 16.5%;
	background: #dfdfdf;
	box-shadow: inset 0px 10px 5px -5px #404040, inset 0px -10px 5px -5px #404040;
}
.msgText {
	width: 70%;
	height: 30%;
	padding-top: 20%;
	margin: auto;
	text-align: center;
}
.msgButtons, .msgScrollButtons {
	text-align: center;
}
.msgButtons button, .msgScrollButtons button {
	font-weight: bold;
	padding: 4px 12px;
	margin: 0 8px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.msgScrollButtons button {
	background: rgba(0,0,0,0);
}
.msgButtons input {
	margin: -12px 0 6px;
    width: 80%;
    text-align: center;
    border: 1px solid #999;
    padding: 4px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}







/**************************
      Intro Screen
**************************/

.introScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../imgs/misc/intro-fx.png');
	background-size: 100% 100%;
}
.instructions {
	display: none;
	background: rgba(255,255,255,.5);
	text-align: center;
	margin: 20px auto;
	width: 240px;
	font-size: 16px;
	padding: 10px 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.gameName {
	text-align: center;
	font-weight: bolder;
	padding-top: 40px;
	font-size: 30px;
	font-variant: small-caps;
	text-shadow: 2px 2px 2px #dfdfdf;
}
.introMenu, .loadMenu {
	background: rgba(255,255,255,.4);
	text-align: center;
	margin: 50px auto;
	width: 120px;
	padding: 10px 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.loadMenu {
	margin: 20px auto;
}
.newGame, .loadGame, .save {
	cursor: pointer;
	font-size: 20px;
	color: #202020;
	padding: 3px 5px;
}
.newGame:hover, .loadGame:hover, .save:hover {
	background: #404040;
	color: #dfdfdf;
}
.loadMenu {
	display: none;
}

/**************************
      Maze Screen
**************************/

.mazeSq {
	background: rgba(0, 0, 0, 0);
}
.mazeScreen {
	display: none;
	width: 100%;
	height: 100%;
	line-height: 0;
}
.fog {
	display: none;
	position: relative;
	top: -100%;
	width: 100%;
	height: 100%;
	box-shadow: inset 0px 150px 80px 150px black;
}
.mazeSq {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;

}
.wallBlock {
	background: #3f3f3f;
}

.player-r {
	position: relative;
	width: 20px;
	background: transparent;
}
.player-r:before {
	content: " ";
	position: absolute;	margin-top: -10px;
	background-position: bottom;
	background: url('../imgs/misc/player-sprite.png') no-repeat 1% 80%;
	background-size: 630% 120%;
	height: 30px;
	width: 20px;
}
.player-l {
	position: relative;
	width: 20px;
	background: transparent;
}
.player-l:before {
	content: " ";
	position: absolute;	margin-top: -10px;
	background-position: bottom;
	background: url('../imgs/misc/player-sprite.png') no-repeat 1% 80%;
	background-size: 630% 120%;
	height: 30px;
	width: 20px;
	background-position-x: 18%;
}
.player-d {
	position: relative;
	width: 20px;
	background: transparent;
}
.player-d:before {
	content: " ";
	position: absolute;	margin-top: -10px;
	background-position: bottom;
	background: url('../imgs/misc/player-sprite.png') no-repeat 1% 80%;
	background-size: 630% 120%;
	height: 30px;
	width: 20px;
	background-position-x: 55%;
}
.player-u {
	position: relative;
	width: 20px;
	background: transparent;
}
.player-u:before {
	content: " ";
	position: absolute;	margin-top: -10px;
	background-position: bottom;
	background: url('../imgs/misc/player-sprite.png') no-repeat 1% 80%;
	background-size: 630% 120%;
	height: 30px;
	width: 20px;
	background-position-x: 78%;
}

.encounter {
	position: relative;
	width: 20px;
	background: transparent;
}
.encounter:before {
	content: " ";
	position: absolute;
	margin-top: -10px;
	background-position: bottom;
	background: url('../imgs/misc/encounter.png') no-repeat;
	background-size: 100% 100%;
	height: 30px;
	width: 20px;
}

.stairs {
	background: url('../imgs/misc/stairs.png');
	background-size: 100% 100%;
}
.boss {
	position: relative;
	width: 20px;
	background: transparent;
}
.boss:before {
	content: " ";
	position: absolute;
	margin-top: -10px;
	background-position: bottom;
	background: url('../imgs/misc/boss.png') no-repeat 0% -30%;
	background-size: 100% 100%;
	height: 30px;
	width: 20px;
}


/**************************
      Battle Screen
**************************/

.battleScreen {
	display: none;
	width: 400px;
	height: 400px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.gameSide, .playerSide {
	width: 400px;
	height: 200px;
}
.gameSide {
	margin: 0;
	border-bottom: 3px solid black;
	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
}
.gameStats {
	display: inline-block;
	margin: 0;
	height: 200px;
	width: 160px;
	vertical-align: top;
}
.gameHealthBar {
	width: 140px;
	height: 20px;
	border: 3px solid black;
	margin: 10px auto 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	overflow: hidden;

}
.gameHealthRemaining {
	width: 100%;
	height: 100%;
	background: red;
}
.gameDelayBar {
	width: 140px;
	height: 16px;
	border: 2px solid black;
	margin: 6px auto 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	overflow: hidden;
}
.gameDelayRemaining {
	width: 100%;
	height: 100%;
	background: green;
}
.gamePic {
	display: inline-block;
	margin: 0;
	height: 197px;
	width: 230px;
}
.hitImg {
	position: absolute;
	height: 200px;
	width: 200px;
	display: none;
}
.playerAnim {
	position: absolute;
    margin-top: 25px;
    height: 170px;
    width: 160px;
    display: none;
    overflow: hidden;
}
.playerDelayBar {	
	width: 140px;
	height: 16px;
	border: 2px solid black;
	margin: 2px auto 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	overflow: hidden;
}
.playerDelayRemaining {
	width: 100%;
	height: 100%;
	background: green;
}
.playerPic {
	vertical-align: top;
	display: inline-block;
	width: 160px;
	height: 200px;
	background: url("../imgs/misc/player1.png") no-repeat;
	background-size: 100% 90%;
	background-position: bottom;
}
.playerUI {
	display: inline-block;
	width: 230px;
	height: 200px;
}
.playerStats {
	position: relative;
	top: -3px;
	width: 230px;
	height: 40px;
	vertical-align: top;
}
.playerHealthBar {
	width: 200px;
	height: 18px;
	border: 2px solid black;
	margin: 1px auto;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	overflow: hidden;
}
.playerHealthRemaining {
	width: 100%;
	height: 100%;
	background: red;
}
.playerManaBar {
	width: 200px;
	height: 10px;
	border: 2px solid black;
	margin: 2px auto;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	overflow: hidden;
}
.playerManaRemaining {
	width: 100%;
	height: 100%;
	background: blue;
}
.playerMenu {
	position: relative;
	top: -6px;
	width: 230px;
	height: 160px;
}
.encounterMsg {
	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: center;	
	padding: 30px;
	font-weight: bolder;
}
.battleMenu, .itemsMenu, .attackMenu, .weaponAttackMenu, .magicAttackMenu, .tacticAttackMenu {
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;	
}
.opacity {opacity: .3;}
.quadrant {
	vertical-align: top;
	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	width: 45%;
	height: 50%;
	display: inline-block;
}
.quadrant button {
	vertical-align: top;
	margin-top: 8px;
	width: 100%;
	height: 90%;
}
.attackMenu, .weaponAttackMenu, .magicAttackMenu, .tacticAttackMenu {
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
}
.attackMenu button, .weaponAttackMenu button, .magicAttackMenu button, .tacticAttackMenu button {
	padding: 0;
	font-size: 14px;
}
.playerReport {
	display: none;
	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: center;	
	padding: 10px;
}
.victory {
	display: none;
	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: center;	
	padding: 10px;
}
.gameReport {
	display: none;
	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: center;	
	padding: 30px;
}

/**************************
      Pack Screen
**************************/

.packScreen {
	display: none;
	width: 100%;
	height: 100%;
	background: #50360A;
}
.equiptUI, .packUI {
	vertical-align: top;
	height: 100%;
	width: 49%;
	display: inline-block;
	background: #624A22;
}
.packGrid {
	margin: 20px auto;
	height: 360px;
	width: 160px;
	background: #856837;
	line-height: 0;
}
.packSq {
	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid #999;
}
.selectedFromPack, .selectedFromEquipt {
	box-shadow: inset 0 0 5px 2px yellow;
}
.packStatDisplay {
	position: relative;
	top: 10px;
}
.packStatDisplay .playerHealthBar, .packStatDisplay .playerManaBar {
	width: 180px;
}

/**************************
      Equip Slots
**************************/
.equipSlots {
	width: 100%;
	height: 45%;
	position: relative;
	background: url('../imgs/misc/playerEquip.png') no-repeat;
	background-position: top;
	background-size: 100% 100%;
	border: 1px solid rgba(0, 0, 0, 0);
}
.equipHat, .equipNeck, .equipLeftHand, .equipRightHand, .equipTorso, .equipLeftRing, .equipRightRing {
	border: 1px solid #999;
	vertical-align: top;
	line-height: 0;
	width: 40px;
	height: 40px;
}
.equipHat {
	margin: 20px auto 0px;
}
.equipNeck {
	position: relative;
	top: -38px;
	left: 138px;
}
.equipTorso {
	margin: -25px auto 5px;
}
.equipLeftHand {
	position: absolute;
	left: 10px;
	margin-top: -27px;
}
.equipRightHand {
	position: absolute;
	right: 10px;
	margin-top: -27px;
}
.equipRightRing {
	position: absolute;
	right: 10px;
	margin-top: 5px;
}
.equipLeftRing {
	position: absolute;
	left: 10px;
	margin-top: 5px;
}
.itemInfo {
	height: 120px;
	margin: 0 auto;
	width: 95%;
	color: #dfdfdf;
}
.itemInfo p {
	margin: 0;
}
.itemControls {
	color: #999;
	padding: 4px;
	border-bottom: 1px solid #999;
}
.itemTitle {
	font-weight: bold;
}

/**************************
      left and right
**************************/

.menuLeft, .menuRight {	
	cursor: pointer;
	position: absolute;
	display: inline-block;
	background: rgba(255, 255, 255, .5);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	padding: 3px;
	text-align: center;
	z-index: 1;
}
.menuRight {
	right: 0;
}

/**************************
      stats n skills
**************************/

.statsNSkills {
	width: 100%;
	height: 100%;
	display: none;
	background: #666;
}
.statsUI, .skillsUI {
	color: #dfdfdf;
	vertical-align: top;
	height: 100%;
	width: 49%;
	display: inline-block;
	background: #404040;
}
.statsDisplay, .abilitiesMenuWeapon, .abilitiesMenuMagic, .abilitiesMenuTactic {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	width: 100%;
	height: 40%;
	border: 3px solid rgba(255, 255, 255, .5);
	overflow-y: scroll;
}
.activeSkillsDisplay {
	width: 67%;
	height: 77px;
	display: inline-block;
}
.activeSkillsToggle {
	margin-top: 2px;
	vertical-align: top;
	display: inline-block;
	height: 100%;
	width: 28%;
}
.activeSkillsToggle button {
	padding: 2px;
	margin: 2px auto;
	display: block;
	color: black;
}



.abilitiesMenuMagic, .abilitiesMenuTactic {
	display: none;
}
::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
      background-color: #989898;
} 
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} 
 
::-webkit-scrollbar-button {
      background-color: #404040;
} 
 
::-webkit-scrollbar-corner {
      background-color: black;
}
.statsDisplay p {
	margin: 0;
	text-align: center;
}
.ul {text-decoration: underline;}
.b {font-weight: bolder;}

.activeSkills {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	width: 100%;
	height: 20%;
	border: 3px solid rgba(255, 255, 255, .5);
	border-top: none;
}

.infoAbility {
	width: 96%;
	border: 3px solid #222;
}
.abilityInfo {
	display: none;
}
.infoAbility .abilityName {
	cursor: pointer;
	width: 80%;
	display: inline-block;
	font-weight: bolder;
}
.infoAbility .remove, .infoAbility .add {
	cursor: pointer;
	display: inline-block;
	background: rgba(255,255,255,.3);
	padding: 0 2px;
	float: right;
}
.infoAbility .add {
	margin-right: 3px;
}
.activeSkillsDisplay p {
	margin: 0 2px;
	height: 1em;
}
.activeMagicSkills, .activeTacticSkills {
	display: none;
}

/**************************
      Save N Load Screen
**************************/

.saveNLoad {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	background: #567890;
}
.saveNLoadMenu, .saveNLoadMenuB {
	width: 200px;
	height: 200px;
	margin: 100px auto;
	background: #345678;
	border: 3px solid #123456;
}
.saveNLoadMenuB  {
	display: none;
}
.saveCurrentGame, .loadCurrentGame {
	width: 120px;
	cursor: pointer;
	text-align: center;
	margin: 45px auto;
	font-size: 20px;
	color: #dfdfdf;
}
.saveNLoadMenuB p {
	width: 120px;
	cursor: pointer;
	text-align: center;
	margin: 16px auto;
	font-size: 20px;
	color: #dfdfdf;
}
.action {
	position: absolute;
	left: 174px;
}
.action p {
    font-size: 20px;
    color: #dfdfdf;
}
.saveCurrentGame:hover, .loadCurrentGame:hover, .saveNLoadMenuB p:hover {
	background: #4E972F;
}

/**************************
      Skills Trees
**************************/
.skillTreeTabs {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	width: 100%;
	height: 10%;
	border: 3px solid rgba(255,255,255,.5);
	border-bottom: none;
}
.weaponSkillTab, .magicSkillTab, .tacticSkillTab {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
	display: inline-block;
	width: 31%;
	height: 100%;
}
.weaponSkillTab, .weaponSkillTree {
	background: #345;
}
.magicSkillTab, .magicSkillTree {
	background: #456;
}
.tacticSkillTab, .tacticSkillTree {
	background: #567;
}
.magicSkillTree, .tacticSkillTree {
	display: none;
}
.weaponSkillTree, .magicSkillTree, .tacticSkillTree {
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	width: 100%;
	height: 90%;
	border: 3px solid rgba(255,255,255,.5);
	border-top: none;
}
[class*="skillUp-"] {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #123;
	border: 2px solid #012;
	margin: 0 10px;
	opacity: .3;
}
[class*="skillUp-"]:hover {
	opacity: 1;
}
.skillRow1 {
	position: relative;
	top: 290px;
	vertical-align: top;
}
.skillRow2 {
	position: relative;
	top: 160px;
}
.skillRow3 {
	position: relative;
	top: 30px;
}
.skillRow4 {
	position: relative;
	top: -100px;
}
.availableSkill {
	opacity: .5;
	box-shadow: 0 0 2px 2px yellow;
}
.activeSkill {
	opacity: 1;
}
/* Weapon Skills */
[name="Warrior Mastery"] {
	cursor: pointer;
	background-image: url('../imgs/items/sword1.png');
	background-size: 100% 100%;
}
[name='Paladin Mastery'] {
	background-image: url('../imgs/items/shield1.png');
	background-size: 100% 100%;
}
[name='Enrage'] {
	background-image: url('../imgs/items/battleAxe.png');
	background-size: 100% 100%;
}
[name='Smite'] {
	background-image: url('../imgs/items/knightsShield.png');
	background-size: 100% 100%;
}
[name='Life Steal'] {
	background-image: url('../imgs/items/bloodyClub.png');
	background-size: 100% 100%;
}
[name='Holy Light'] {
	background-image: url('../imgs/items/holyAmulet.png');
	background-size: 100% 100%;
}
[name='Onslaught'] {
	background-image: url('../imgs/items/spikeyMace.png');
	background-size: 100% 100%;
}
[name='Holy Strength'] {
	background-image: url('../imgs/items/knightsSword.png');
	background-size: 100% 100%;
}

/* Magic Skills */
[name='Mage Mastery'] {
	background-image: url('../imgs/items/staff1.png');
	background-size: 100% 100%;
}
[name='Witch Mastery'] {
	background-image: url('../imgs/items/magicShield.png');
	background-size: 100% 100%;
}
[name='Icebolt'] {
	background-image: url('../imgs/items/moonWand.png');
	background-size: 100% 100%;
}
[name='Curse'] {
	background-image: url('../imgs/items/mentalistsPendant.png');
	background-size: 100% 100%;
}
[name='Electrocute'] {
	background-image: url('../imgs/items/lightningRod.png');
	background-size: 100% 100%;
}
[name='Drain Life'] {
	background-image: url('../imgs/items/skullBand.png');
	background-size: 100% 100%;
}
[name='Elementary'] {
	background-image: url('../imgs/items/saphireChalice.png');
	background-size: 100% 100%;
}
[name='Magic Missiles'] {
	background-image: url('../imgs/items/ancientStaff.png');
	background-size: 100% 100%;
}

/* Tactic Skills */
[name='Scout Mastery'] {
	background-image: url('../imgs/items/leafBand.png');
	background-size: 100% 100%;
}
[name='Ninja Mastery'] {
	background-image: url('../imgs/items/sickle1.png');
	background-size: 100% 100%;
}
[name='Ambush'] {
	background-image: url('../imgs/items/kurki.png');
	background-size: 100% 100%;
}
[name='Immobilize'] {
	background-image: url('../imgs/items/darkHood.png');
	background-size: 100% 100%;
}
[name='Scavange'] {
	background-image: url('../imgs/items/ringOfLuck.png');
	background-size: 100% 100%;
}
[name='Critical'] {
	background-image: url('../imgs/items/hookedSword.png');
	background-size: 100% 100%;
}
[name='Ghost Strike'] {
	background-image: url('../imgs/items/enchantedSword.png');
	background-size: 100% 100%;
}
[name='Swiftness'] {
	background-image: url('../imgs/items/darkAmulet.png');
	background-size: 100% 100%;
}
.skillPointsLeft, .skillTreeTitle {
	position: relative;
	bottom: 220px;
	left: 10px;
}
.skillTreeTitle {
	font-weight: bolder;
}


/***** Tooltip, from wc3 ****/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 125%;
    margin-left: 0px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity .5s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/**************************
      Items
**************************/

.healthPotion {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/healthPotion.png');
	background-size: 100% 100%;
}
.manaPotion {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/manaPotion.png');
	background-size: 100% 100%;
}
.sword1 {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/sword1.png');
	background-size: 100% 100%;
}
.staff1 {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/staff1.png');
	background-size: 100% 100%;
}
.shield1 {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/shield1.png');
	background-size: 100% 100%;
}
.ringOfHealth {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/ringOfHealth.png');
	background-size: 100% 100%;
}
.greenBandana {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/greenBandana.png');
	background-size: 100% 100%;
}
.mageRobes {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/mageRobes.png');
	background-size: 100% 100%;
}
.monksRobes {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/monksRobes.png');
	background-size: 100% 100%;
}
.copperNecklace {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/copperNecklace.png');
	background-size: 100% 100%;
}
.skullBand {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/skullBand.png');
	background-size: 100% 100%;
}
.sickle1 {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/sickle1.png');
	background-size: 100% 100%;
}
.tunic1 {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/tunic1.png');
	background-size: 100% 100%;
}
.ironTunic {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/ironTunic.png');
	background-size: 100% 100%;
}
.firePendant {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/firePendant.png');
	background-size: 100% 100%;
}
.magicShield {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/magicShield.png');
	background-size: 100% 100%;
}
.leafBand {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/leafBand.png');
	background-size: 100% 100%;
}
.ringOfLuck {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/ringOfLuck.png');
	background-size: 100% 100%;
}
.enchantedSword {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/enchantedSword.png');
	background-size: 100% 100%;
}
.spikedShield1 {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/spikedShield1.png');
	background-size: 100% 100%;
}
.hookedSword {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/hookedSword.png');
	background-size: 100% 100%;
}
.moonWand {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/moonWand.png');
	background-size: 100% 100%;
}
.zenithArmor {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/zenithArmor.png');
	background-size: 100% 100%;
}
.wizardsHat {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/wizardsHat.png');
	background-size: 100% 100%;
}
.scoutsBand {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/scoutsBand.png');
	background-size: 100% 100%;
}
.darkHood {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/darkHood.png');
	background-size: 100% 100%;
}
.darkTunic {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/darkTunic.png');
	background-size: 100% 100%;
}
.darkAmulet {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/darkAmulet.png');
	background-size: 100% 100%;
}
.holyAmulet {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/holyAmulet.png');
	background-size: 100% 100%;
}
.ringOfMana {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/ringOfMana.png');
	background-size: 100% 100%;
}
.battleAxe {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/battleAxe.png');
	background-size: 100% 100%;
}
.saphireChalice {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/saphireChalice.png');
	background-size: 100% 100%;
}
.lightningRing {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/lightningRing.png');
	background-size: 100% 100%;
}
.battlemageRing {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/battlemageRing.png');
	background-size: 100% 100%;
}
.mentalistsPendant {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/mentalistsPendant.png');
	background-size: 100% 100%;
}
.ninjato {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/ninjato.png');
	background-size: 100% 100%;
}
.spikeyMace {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/spikeyMace.png');
	background-size: 100% 100%;
}
.kurki {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/kurki.png');
	background-size: 100% 100%;
}
.knightsShield {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/knightsShield.png');
	background-size: 100% 100%;
}
.knightsSword {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/knightsSword.png');
	background-size: 100% 100%;
}
.curvedStaff {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/curvedStaff.png');
	background-size: 100% 100%;
}
.battleTunic {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/battleTunic.png');
	background-size: 100% 100%;
}
.acrobatsVest {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/acrobatsVest.png');
	background-size: 100% 100%;
}
.threeOrbs {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/threeOrbs.png');
	background-size: 100% 100%;
}
.featheredBandana {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/featheredBandana.png');
	background-size: 100% 100%;
}
.mysteriousRags {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/mysteriousRags.png');
	background-size: 100% 100%;
}
.hornedHelm {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/hornedHelm.png');
	background-size: 100% 100%;
}
.heavyCopperPendant {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/heavyCopperPendant.png');
	background-size: 100% 100%;
}
.hookNBlade {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/hookNBlade.png');
	background-size: 100% 100%;
}
.speedBand {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/speedBand.png');
	background-size: 100% 100%;
}
.holyHandGrenade {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/holyHandGrenade.png');
	background-size: 100% 100%;
}
.pointedHelm {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/pointedHelm.png');
	background-size: 100% 100%;
}
.skullChain {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/skullChain.png');
	background-size: 100% 100%;
}
.tigersEyeRing {
	width: 40px;
	height: 40px;
	background: url('../imgs/items/tigersEyeRing.png');
	background-size: 100% 100%;
}


























































